<html  lang='en'>
<head>
  <!--{% block head %}-->
  <title>E Agora DB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'mydb/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'mydb/css/bootstrap-grid.css' %}" type="text/css">

  <link rel="stylesheet" href="{% static 'mydb/css/base.css' %}" type="text/css">
  <style>
    .bg-company-yellow {
      background-color: #f0f04b;
    }
    .body {
      background-color: #e9f0a0;
    }
  </style>
  <!--{% endblock %}-->
<head>
<body class="body">
  <div class="container" >
    <nav id="navbar" class="navbar navbar-expand-md bg-company-yellow">
      <a class="navbar-brand" href="{% url 'database:home'%}"><b>E Agora DB</b></a>

      <div class="collapse navbar-collapse" id="nav-content">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class=" nav-link" href="{% url 'database:find_products' %}">Find Products</a></li>
          <li class="nav-item"><a class=" nav-link" href="{% url 'database:find_stores' %}">Find Stores</a></li>
        </ul>

      </div>

      <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item "><a class=" nav-link" href="{% url 'database:view_profile' %}">View Profile</a></li>
          <li class="nav-item "><a class=" nav-link" href="{% url 'database:change_password' %}">Change Password</a></li>
            <li class="nav-item "><a class=" nav-link" href="{% url 'database:logout' %}">Log Out</a></li>
          {% else %}
            <li class="nav-item "><a class=" nav-link" href="{% url 'database:login' %}">Log In</a></li>
            <li class="nav-item "><a class=" nav-link" href="{% url 'database:signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% if user.is_authenticated %}
      <div class='name' align='right'>Logged in as {{ user }}</div>
    {% endif %}
      <br>
    {% block body %}
    {% endblock %}
</div>


  <script>
    function goBack() {
      window.history.back();
    }
  </script>


  <script type="text/javascript" src="{% static 'mydb/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'mydb/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'mydb/js/bootstrap.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'mydb/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
