{% extends  "base.html "%}

{% block body %}
<div>
  <table class="table table-striped">
    <thead>
        <tr><th><h3>All Stores we work with</h3></th></tr>
        <tr class="thead-dark" >
          {% for field in store_form %}
              <th>{{ field.label }}</th>
          {% endfor %}
        </tr>
    </thead>
    <tbody>
      {% for store in stores %}
        <tr>
          {% for f, v in store.fields.items %}
            <td><a href="{% url 'database:store' pk=store.pk %}" class="text-primary ">{{ v }}</a></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
</div>
{% endblock %}
